<!DOCTYPE html>
<html lang="en">

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    "use strict";
    $(function () {
            $.ajax({
                url: "http://backend:8080/api/person",
                success: users => {
                    console.log(users);
                    let html = "";
                    for (const user of users) {
                        const tr = `<tr>
                                        <td>${user._id}</td>
                                        <td>${user.name}</td>
                                        <td>${user.phone}</td>
                                    </tr>`;
                        html += tr;
                    }
                    $("#tbodyUsers").html(html);
                }
            });

        $("#sendBtn").click(() => {
            $.ajax({
                url: "http://backend:8080/api/person/" + $("#contactId").val(),
                error: err => alert("Error: " + err.status),
                success: user => {
                    console.log(user)
                    let html=""
                    const tr = `<tr>
                                    <td>${user._id}</td>
                                    <td>${user.name}</td>
                                    <td>${user.phone}</td>
                                </tr>`;
                    html += tr;
                    $("#tbodyUsers").html(html);
                }
            });
        });

        $("#AddBtn").click(() => {
            $("#Add-form").show()
        });

        $("#ShowBtn").click(() => {
            $("#get-form").show()
        });

        $("#DelBtn").click(() => {
            $("#del-form").show()
        });

        $("#AddUser").click(() => {
            var dataO = {
                name: $("#contactName").val(),
                phone: $("#contactPhone").val()
            };

            var json = JSON.stringify(dataO);
            console.log(json)
            $.ajax({
                type: "POST",
                url: "http://backend:8080/api/person",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
            $("#tbodyUsers").html(html);
        });

        $("#deleteBtn").click(() => {
            var dataO = {
                _id: $("#contact").val(),
            };

            var json = JSON.stringify(dataO);
            console.log(json)
            $.ajax({
                type: "DELETE",
                url: "http://backend:8080/api/person",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
            $("#tbodyUsers").html(html);
        });
    });

</script>
<style>
    body {
    font-size: x-large;
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid blue;
}

tr:nth-of-type(even) {
    background-color: lightcoral;
}

tr:nth-of-type(odd) {
    background-color: lightcyan;
}

#Add-form{
    display: none
}

#get-form{
    display: none
}

#del-form{
    display: none
}

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phonebook</title>
</head>

<body>
    <input id="ShowBtn" type="button" value="get user">
    <div id="get-form" >
        <form action="">
            Contact ID: <input id="contactId" name="_id" type="text">
            <input id="sendBtn" type="button" value="get user">
        </form>
    </div>

    <input id="AddBtn" type="button" value="add user">
    <div id="Add-form" >
        <form action="">
            Contact Name: <input id="contactName" name="name" type="text">
            Contact Phone: <input id="contactPhone" name="phone" type="text">
            <input id="AddUser" type="button" value="send">
        </form>
    </div>

    <input id="DelBtn" type="button" value="delete user">
    <div id="del-form" >
        <form action="">
            Contact ID: <input id="contact" name="id" type="text">
            <input id="deleteBtn" type="button" value="delete user">
        </form>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody id="tbodyUsers">
        </tbody>
    </table>

</body>

</html>